body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .pagamento-container {
    background-color: #333;
    width: 500px;
    padding: 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .pagamento-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .pagamento-container label {
    margin-top: 10px;
    font-size: 16px;
  }

  .pagamento-container input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
  }

  .expiracao-container {
    display: flex;
    gap: 10px;
  }

  .expiracao-container input {
    width: 50%;
  }

  .botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .botoes a, .botoes button {
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #111;
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
  }

  .valor-compra {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }
  #link-filme {
    text-align: center;
  }
  
  #link-assistir {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
  }
  
  #link-assistir:hover {
    background-color: #0056b3;
  }
  